html {
  box-sizing: border-box;
  background-color: #dbd6cf;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  color: #fff;
  text-align: center;
  font-family: Bevan, serif;
  line-height: 1.5;
  margin-bottom: .1em;
}

nav ul {
  text-align: center;
  margin: 0;
}

ul {
  color: #fff;
  list-style-type: none;
  font-weight: normal;
  font-size: 1.125rem;
  padding: 0;
}

a {
  color: #fff;
  font-weight: normal;
  font-family: sans-serif;
  text-decoration: none;
  display: inline-block;
  margin: .3em 0;
  max-width: 20em;
  padding: .6em .5em .75em;
  background-color: #713837;
  border-radius: 4px;
  text-align: left;
}

a:hover {
  background-color: #f33;
}

li {
  font-family: sans-serif;
  display: inline-block;
  text-align: center;
}

header {
  background-color: #79756f;
  border: 3px solid #595652;
  text-align: left;
  margin: 0 auto;
}

body {
  margin: 0;
}
