html {
  box-sizing: border-box;
  background-color: #dbd6cf;
  font-family: 'Bevan', cursive;
  line-height: 1.5;
}

nav ol {
  color: #fff;
  list-style-type: none;
  font-weight: none;
  font-size: 1.125rem;
}

h1 {
  color: #fff;
}
