html {
  box-sizing: border-box;
  background-color: #dbd6cf;
  font-family: 'Bevan', cursive;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  color: #fff;
}

nav ol {
  color: #fff;
  list-style-type: none;
  font-weight: none;
  font-size: 1.125rem;
}

nav a {
  color: #fff;
  font-weight: normal;
  font-family: Georgia:sans-serif;
  text-decoration: none;
  display: inline-block;
  margin: .3em;
  max-width: 20em;
  padding: .6em .5em .75em;
  background-color: #713837;
  border: 1px solid #f33;
  border-radius: 10px;
  text-align: left;
}
